<h1 class="title">Manage Activities and Appointments</h1>
<br>
{{#.}}
    <table class="summary-list">
        <tr>
            <td>Date from</td>
            <td>{{ optionalValue (formatDate fromDate) }}</td>
        </tr>
        <tr>
            <td>Date to</td>
            <td>{{ optionalValue (formatDate toDate) }}</td>
        </tr>
    </table>

    <h2>Allocations</h2>
    {{#allocations}}
        <br>
        <h3>Allocation</h3>
        <table class="summary-list">
            <tr><td>Prison name</td><td>{{ getPrisonName prisonCode }}</td></tr>
            <tr><td>Prisoner status</td><td>{{ prisonerStatus }}</td></tr>
            <tr><td>Activity summary</td><td>{{ activitySummary }}</td></tr>
            <tr><td>Activity category name</td><td>{{ activityCategoryName }}</td></tr>
            <tr><td>Activity category description</td><td>{{ activityCategoryDescription }}</td></tr>
            <tr><td>Start date</td><td>{{ formatDate startDate }}</td></tr>
            <tr><td>End date</td><td>{{ optionalValue (formatDate endDate) }}</td></tr>
            <tr><td>Date created</td><td>{{ formatDate createdDate }}</td></tr>
            <tr><td>Pay band</td><td>{{ optionalValue payBand }}</td></tr>
            <tr><td>Attendance required</td><td>{{ convertBoolean attendanceRequired }}</td></tr>
            <tr><td>Paid</td><td>{{ convertBoolean paid }}</td></tr>
            <tr><td>Outside work</td><td>{{ convertBoolean outsideWork }}</td></tr>
            <tr><td>Risk level</td><td>{{ riskLevel }}</td></tr>
            <tr><td>Organiser description</td><td>{{ optionalValue organiser }}</td></tr>
            <tr><td>Location</td><td>{{ getLocationNameByDpsId dpsLocationId }}</td></tr>
            <tr><td>In cell</td><td>{{ convertBoolean inCell }}</td></tr>
            <tr><td>Off wing</td><td>{{ convertBoolean offWing }}</td></tr>
            <tr><td>On wing</td><td>{{ convertBoolean onWing }}</td></tr>
        </table>
    {{/allocations}}
    {{^allocations}}
        <p>No data held</p>
    {{/allocations}}

    <br>
    <h2>Attendance summary</h2>
    <table class="data-table">
        <tr>
            <td>Attendance reason</td>
            <td>Attendance count</td>
        </tr>
        {{#attendanceSummary}}
            <tr>
                <td>{{ optionalValue attendanceReason }}</td>
                <td>{{ optionalValue count }}</td>
            </tr>
        {{/attendanceSummary}}
    </table>
    {{^attendanceSummary}}
        <p>No data held</p>
    {{/attendanceSummary}}

    <br>
    <h2>Waiting list applications</h2>
    {{#waitingListApplications}}
        <br>
        <h3>Application - Waiting list ID {{ optionalValue waitingListId }}</h3>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Prison Name</td>
                <td class="data-column-25">Date created</td>
                <td class="data-column-30">Application date</td>
                <td class="data-column-20">Originator</td>
            </tr>
            <tr>
                <td>{{ getPrisonName prisonCode }}</td>
                <td>{{ optionalValue (formatDate createdDate) }}</td>
                <td>{{ optionalValue (formatDate applicationDate) }}</td>
                <td>{{ optionalValue originator }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Status</td>
                <td class="data-column-25">Status date</td>
                <td class="data-column-30">Activity summary</td>
                <td class="data-column-20">Comments</td>
            </tr>
            <tr>
                <td>{{ optionalValue status }}</td>
                <td>{{ optionalValue (formatDate statusDate) }}</td>
                <td>{{ optionalValue activitySummary }}</td>
                <td>{{ optionalValue comments }}</td>
            </tr>
        </table>
    {{/waitingListApplications}}
    {{^waitingListApplications}}
        <p>No data held</p>
    {{/waitingListApplications}}

    <br>
    <h2>Appointments</h2>
    {{#appointments}}
        <br>
        <h3>Appointment</h3>
        <table class="summary-list">
            <tr><td>Prison name</td><td>{{ getPrisonName prisonCode }}</td></tr>
            <tr><td>Date created</td><td>{{ formatDate createdDate }}</td></tr>
            <tr><td>Category</td><td>{{ category }}</td></tr>
            <tr><td>Attended</td><td>{{ attended }}</td></tr>
            <tr><td>Date</td><td>{{ formatDate date }}</td></tr>
            <tr><td>Start time</td><td>{{ startTime }}</td></tr>
            <tr><td>End time</td><td>{{ optionalValue endTime }}</td></tr>
            <tr><td>Extra information</td><td>{{ optionalValue extraInformation }}</td></tr>
            <tr><td>Custom name</td><td>{{ optionalValue customName }}</td></tr>
            <tr><td>Organiser description</td><td>{{ optionalValue organiser }}</td></tr>
            <tr><td>Location</td><td>{{ getLocationNameByDpsId dpsLocationId }}</td></tr>
            <tr><td>In cell</td><td>{{ convertBoolean inCell }}</td></tr>
            <tr><td>Off wing</td><td>{{ convertBoolean offWing }}</td></tr>
            <tr><td>On wing</td><td>{{ convertBoolean onWing }}</td></tr>
            <tr><td>Cancellation reason</td><td>{{ optionalValue cancellationReason }}</td></tr>
            <tr><td>Cancelled by</td><td>{{ getUserLastName cancelledBy }}</td></tr>
        </table>
    {{/appointments}}
    {{^appointments}}
        <p>No data held</p>
    {{/appointments}}
{{/.}}