version: "3"
services:
  test-db:
#    image: postgres:latest
    image: arm64v8/postgres:17
    container_name: activities-test-db
    networks:
      - hmpps
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: activities
      POSTGRES_USER: activities
      POSTGRES_PASSWORD: activities

  test-localstack:
#    image: localstack/localstack:4
    image: localstack/localstack:4-arm64
    container_name: activities-test-localstack
    networks:
      - hmpps
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sns,sqs,s3
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"

networks:
  hmpps: