---
# Per environment values which override defaults in hmpps-activities-management-api/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: activities-api-preprod.prison.service.justice.gov.uk

  env:
    JAVA_OPTS: "-Xmx2g"
    HMPPS_AUTH_URL: https://sign-in-preprod.hmpps.service.justice.gov.uk/auth
    PRISON_API_URL: https://prison-api-preprod.prison.service.justice.gov.uk
    PRISONER_SEARCH_API_URL: https://prisoner-search-preprod.prison.service.justice.gov.uk
    CASE_NOTES_API_URL: https://preprod.offender-case-notes.service.justice.gov.uk
    NON_ASSOCIATIONS_API_URL: https://non-associations-api-preprod.hmpps.service.justice.gov.uk
    INCENTIVES_API_URL: https://incentives-api-preprod.hmpps.service.justice.gov.uk
    MANAGE_ADJUDICATIONS_API_URL: https://manage-adjudications-api-preprod.hmpps.service.justice.gov.uk
    LOCATIONS_INSIDE_PRISON_API_URL: https://locations-inside-prison-api-preprod.hmpps.service.justice.gov.uk
    NOMIS_MAPPING_API_URL: https://nomis-sync-prisoner-mapping-preprod.hmpps.service.justice.gov.uk
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    SCHEDULE_AHEAD_DAYS: 14
    SCHEDULE_AHEAD_DAYS_ONLINE: 14
    FEATURE_EVENTS_SNS_ENABLED: true
    FEATURE_AUDIT_SERVICE_HMPPS_ENABLED: true
    FEATURE_JOBS_SQS_DEALLOCATE_ENDING_ENABLED: true
    FEATURE_JOBS_SQS_DEALLOCATE_EXPIRING_ENABLED: true
    FEATURE_JOBS_SQS_ACTIVATE_ALLOCATIONS_ENABLED: true
    FEATURE_JOBS_SQS_MANAGE_ATTENDANCES_ENABLED: true
    FEATURE_JOBS_SQS_MANAGE_APPOINTMENT_ATTENDEES_ENABLED: true
    SENTRY_ENVIRONMENT: preproduction
    ACTIVITIES_LIVE: RSI,LPI,WDI,FMI,FKI,IWI,WMI,GTI,LTI,BCI,FNI,MTI,LEI,RCI,FSI,DMI,WII,HII,RNI,MDI,LFI,LHI,PVI,BXI,VEI,BLI,WSI,WEI,EYI,SLI,PDI,SNI,HOI,NMI,HEI,ISI,BRI,PNI,CFI,DWI,LCI,MHI,AYI,WLI,WHI,BAI,BNI,WTI,CLI,MRI,ONI,SHI,LII,SWI,GHI,SFI,SKI,WCI,EXI,HCI,EEI,MSI,EWI,HLI,BFI,LLI,BMI,HMI,GMI,HBI,DTI,WWI,BWI,HHI,LWI,CWI,SDI,NWI,DHI,FHI,CKI,WRI,NHI,STI,CDI,BMI,HPI,NSI
    APPOINTMENTS_LIVE: RSI,LPI,WDI,FMI,FKI,IWI,WMI,GTI,LTI,BCI,FNI,MTI,LEI,RCI,FSI,DMI,WII,HII,RNI,MDI,LFI,LHI,PVI,BXI,VEI,BLI,WSI,WEI,EYI,SLI,PDI,SNI,HOI,NMI,HEI,ISI,BRI,PNI,CFI,DWI,LCI,MHI,AYI,WHI,BAI,BNI,WLI,WTI,CLI,MRI,ONI,SHI,LII,SWI,GHI,SFI,SKI,WCI,EXI,HCI,EEI,MSI,EWI,HLI,BFI,LLI,BMI,HMI,GMI,HBI,DTI,WWI,BWI,HHI,LWI,CWI,SDI,NWI,DHI,FHI,CKI,WRI,NHI,STI,CDI,BMI,HPI,NSI
    PRISONS_LIVE: RSI,LPI,WDI,FMI,FKI,IWI,WMI,GTI,LTI,BCI,FNI,MTI,LEI,FSI,DMI,HII,WII,RCI,RNI,MDI,LFI,LHI,EYI,SLI,PDI,SNI,BXI,NMI,PVI,WEI,WSI,VEI,BLI,HOI,PNI,CFI,DWI,LCI,ISI,HEI,MHI,AYI,BRI,BSI,BAI,BNI,WLI,WHI,WTI,CLI,MRI,ONI,LII,SWI,GHI,SFI,SKI,SHI,WCI,EXI,HCI,EEI,MSI,HLI,BFI,EWI,LLI,HMI,GMI,HBI,DTI,WWI,HHI,LWI,CWI,SDI,BWI,NWI,FHI,WRI,DHI,NHI,STI,CKI,CDI,BMI,HPI
    AWS_S3_AP_BUCKET: moj-reg-preprod
    AWS_S3_AP_PROJECT: hmpps-activities-management-preprod
    PRISONS_WITH_REGEX_LOCATION_CONFIGS: BCI,CDI,EYI,FNI,HEI,MDI,NHI,WNI,IWI,LHI,RNI,WLI,WEI,WRI,RSI
    LOGGING_LEVEL_COM_ZAXXER_HIKARI: TRACE

  resources:
    requests:
      cpu: 10m
      memory: 1Gi
    limits:
      cpu: 2000m
      memory: 4Gi

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: hmpps-activities-management-preprod
  businessHoursOnly: true
  sqsAlertsQueueNames:
    - "activities-and-appointments-preprod-hmpps_activities_management_jobs_queue"
    - "activities-and-appointments-preprod-hmpps_activities_management_jobs_dlq"
  sqsAlertsOldestThreshold: 1
  sqsAlertsTotalMessagesThreshold: 1
